html,body{
	font-family: "Source Sans Pro", sans-serif;
	margin: auto;
	padding: auto;
	color:#e9e2ee;
	font-size:.9em;
	font-family:sans-serif;
	line-height:1.4em;
	text-shadow:3px 5px 2px rgba(0,0,0,.75);
	background-color: #1b1b1b;
}
a,a:link,a:visited{
	color:#c6eaf7;
	font-weight:700;
	text-decoration:none
}
a:active,a:hover{
	color:#d8f3fd;
	text-shadow:0 1px 1px rgba(0,0,0,.75),0 0 5px rgba(198,234,247,.4)
}
#container{
	text-align:center;
	margin:auto;
	width: 95%;
	height: 95%;
	max-width:400px;
	max-height:400px;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	border-radius:10px;
	border:solid 2px #fff;
	background-color: #000;
}
#header {
    position: relative;
    z-index: 10;
}
#header h1 {
    font-size: 1.8em;
}
#header h2 {
    font-size: 1.4em;
}
#content{
	padding:30px;
	border-radius:10px 10px 0 0;
}
#content > img {
    max-width: 95%;
    position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
    clip-path: circle();    
}
